*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: roboto, sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*header html*/
.header {
  background: #ffffff;
  /* padding: 32px 0;*/
}
.header .container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}
.logo-link {
  margin-right: 92px;
   padding-top: 32px;
  padding-bottom: 32px;
}
.logo-two {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: #212121;
}
.studio-color {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.nav-list-item:not(:last-child) {
  margin-right: 40px;
  
}
.nav-studio-link, 
.nav-portfolio-link,
 .nav-contakts-link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-portfolio-link,
.nav-contakts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;

  color: #212121;
}

/*Address header html*/
.address {
  font-style: normal;
}

.header .address {
  margin-left: auto;
}
.header-address-list {
  display: flex;
}
.header-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}
.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 50px;
}
/*header navigation hover*/
.nav-link:hover,
.nav-link:focus,
.studio-color:hover,
.studio-color:focus,
.nav-portfolio-link:hover,
.nav-portfolio-link:focus,
.nav-contakts-link:hover,
.nav-contakts-link:focus,
.header-mail-link:hover,
.header-mail-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
  color: #2196f3;
}
/*main index.html*/
.main {
}
/*Hero*/
.Hero {
  background: #2f303a;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.title-hero {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;

  align-content: center;
}
.wraper-title {
  padding-left: 30px;
}
.wraper-button-hero {
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  align-content: center;
  padding: 30px;
}
.button-hero {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  background: #188ce8;
  color: #ffffff;
  border-radius: 4px;
}
.button-hero-link:hover,
.button-hero-link:focus {
color:  rgba(0, 0, 0, 0.25);
}

.button-hero-link {
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

/*features*/
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title-advantages {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}


.features-list {
  display: flex;
  flex-wrap: nowrap;
  margin: 30px;
  margin-bottom: 30px;
}
.wraper-features {
  align-items: center;
}

.desc-title-advantages {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
  width: 270px;
}
/*description of services*/

.description-services-item-list {
  display: flex;
  flex-wrap: nowrap;
}

.item-services:not(:last-child) {
  margin-right: 30px;
}

.title-description {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 50px;
}

/*Team*/
.team {
  background: #f5f4fa;
}
.wraper-team {
  padding-bottom: 47px;
}

.title-team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 54px;
  margin-top: 99px;
}

.team-list {
  display: flex;
  flex-wrap: nowrap;
}
.item-team:not(:last-child) {
  margin-right: 30px;
}

.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /*text-align: center;*/
  /* identical to box height */
  letter-spacing: 0.03em;

  color: #212121;
}

.team-description {
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

.desc-profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  /*text-align: center;*/
  letter-spacing: 0.03em;

  color: #757575;
  padding-bottom: 30px;
}

/*Footer html*/
.page-footer {
  background: #2f303a;
  display: block;
  height: 253px;
}

.page-footer > .container {
  display: flex;
  height: 211px;
  align-items: center;
}

.logo-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}

.logo-footer-two {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-map-link {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 714;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
  padding-top: 20px;
}

.tel-item,
.mail-item {
  padding-top: 9px;
}

.footer-tel-link,
.footer-mail-link {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 714;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}


/******finish index.html******/

/*body for portfolio*/
body {
  font-family: roboto, sans-serif;
  font-style: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}
/*header navigation portfolio*/

.header {
    border: 1px solid #ECECEC;;
}

.link-portfolio-link {
  display: block;
 margin-right: 93px;
  padding-top: 32px;
  padding-bottom: 32px;


}
.logo-list {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
 
}
.logo-list2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #212121;
}

.navigation {
  display: flex;

}
.navigation-list-item:not(:last-child) {
margin-right: 50px;
}
.list-contacts {
  display: flex;
}
.navigation-list-link {
 display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;

  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.navigation-list-link2:hover,
.navigation-list-link2:focus,
.header-mail-link:hover,
.header-mail-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
  color: #2196f3;
}

.navigation-list-link2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;

  color: #212121;
}
/*address portfolio*/
.header-mail-link,
.header-tel-link {
 display: block;
 
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;
  
  padding-top: 32px;
  padding-bottom: 32px;
}
/*filters*/

 .filters-list  {
   
  display: flex;
  justify-content:  center;
 }

.wrapper-filters {
  justify-content:  center;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
   }

.button-all {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
   

  color: #FFFFFF;
  padding: 6px 22px;

}

.button-filters-all:hover,
.button-filters-all:focus {
 /*color:rgba(0, 0, 0, 0.25);*/

}
  
.button-filters-all {
  background: #2196F3;
 padding: 6px ;
 border: none;
 widows: 73px;
Height :38px ;

border-radius: 4px;


}
.choose-button-filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  
background: #F5F4FA;
padding: 6px 22px;
border: none;

}

/*main*/
.main {
  background: #e5e5e5;
  position: absolute;
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 174px;
}
/*portfolio works*/
.title-works {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}

.projects-name {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}
/*footer*/
.footer {
  background: #2f303a;
}
.logo-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}
.footer-map-link {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
  padding-top: 20px;
}

.footer-tel-link,
.footer-mail-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  /* or 171% */

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.tel-item,
.mail-item {
  padding-top: 9px;
}
.footer-map-link:hover,
.footer-map-link:focus,
.footer-tel-link:hover,
.footer-tel-link:focus,
.footer-mail-link:hover,
.footer-mail-link:focus {
  color: #2196f3;
}
